#clockcontainer{
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(Clock.jpeg) no-repeat;
    background-size: 100%;
    position: relative;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 2.5%;
    height: 22%;
    top: 29%;
    left: 48.5%;
    opacity: 0.8;
}

#minute{
    width: 2%;
    height: 30%;
    top: 21%;
    left: 48.8%;
    opacity: 0.5;
}

#second{
    width: 1.5%;
    height: 38%;
    top: 13%;
    left: 49%;
    opacity: 1;
}